@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@media (prefers-color-scheme: dark) {
  body { 
    background:  #333; color: white; 
  }
}

@media (prefers-color-scheme: light) {
  body { 
    background:  #ddd; color: black; 
  }
}

#settings {
  margin-right: 5px;
  margin-left: auto;
  margin-bottom: 5px;
  width: 30px;
  display: block;
  cursor: pointer;
  transition: transform 0.5s;
}

#settings:hover {
  transform: rotate(60deg);
}

#title
{
  font-size: 300%;
  font-family: sans-serif;
  text-align: center;
  margin-top: -20px;
}