@media (prefers-color-scheme: dark) {
  body { 
    background:  #333; color: white; 
  }
  .button {
    color: rgb(207, 222, 231);
    background: rgb(10, 6, 71);
    border-color: rgb(80, 8, 8);
  }
  #mp4-quality {
    color: white;
    background-color: black;
    border-color: rgb(131, 139, 12);
  }
}

@media (prefers-color-scheme: light) {
  body { 
    background:  #ddd; color: black; 
  }
  .button {
    color: rgb(0, 0, 0);
    background: rgb(109, 218, 133);
    border-color: rgb(20, 32, 141);
  }
  #mp4-quality {
    border-color: rgb(243, 207, 87);
  }
}

table {
  width: 100%;
}

td {
  text-align: center;
}

#video-img {
  margin-top: 10px;
  height: 150px;
}

#video-title {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
}

#video-length {
  margin-top: -20px;
  font-size: 20px;
  font-family: Arial;
  font-style: italic;
}

#video {
  float: right;
  margin-right: 15px;
  border-radius: 15px;
  width: 150px;
  height: 55px;
  font-size: 20px;
}

#audio {
  float: left;
  margin-left: 15px;
  border-radius: 15px;
  width: 150px;
  height: 55px;
  font-size: 20px;
}

div[class='mp4q'] {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
}

#mp4-quality {
  border-radius: 15px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  border-width: 2px;
}

.hidden {
  background-color: rgba(255, 255, 255, 0.11);
  border-width: 2px;
  border-color: #111;
  color: #111;
  border-style: solid;
}

.button {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}

.info {
  font-size: 20px;
}