@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@media (prefers-color-scheme: dark) {
  body { 
    background:  #333; color: white; 
  }
  #yt-url {
    background-color: black;
    border-color: rgb(116, 6, 6);
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body { 
    background:  #ddd; color: black; 
  }
  #yt-url {
    background-color: white;
    border-color: rgb(21, 172, 16);
    color: black;
  }
}

#settings {
  margin-right: 5px;
  margin-left: auto;
  margin-bottom: 5px;
  width: 30px;
  display: block;
  cursor: pointer;
  transition: all 1s;
}

#settings:hover {
  transform: rotate(60deg);
}

#title
{
  font-size: 300%;
  font-family: sans-serif;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 0px;
}

#ifvalid {
  font-size: 200%;
  font-family: sans-serif;
  text-align: center;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
========================
      BUTTON YT
========================
*/

@media (prefers-color-scheme: light) {
  .btn-yt {
    background: white;
    color: black;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black,
    -5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
  }
  .btn-yt:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
  }
}

@media (prefers-color-scheme: dark) {
  .btn-yt {
    background: black;
    color: white;
    border: 2px solid rgb(17, 5, 73);
    box-shadow: 5px 5px 0 rgb(17, 5, 73),
    -5px -5px 0 rgb(17, 5, 73),
		-5px 5px 0 rgb(17, 5, 73),
		5px -5px 0 rgb(17, 5, 73);
  }
  .btn-yt:hover {
    box-shadow: 20px 5px 0 rgb(17, 5, 73), -20px -5px 0 rgb(17, 5, 73);
  }
}

.btn-yt {
	-webkit-tap-highlight-color: transparent;
  border-radius: 15px;
	cursor: pointer;
  height: 50px;
  width: 200px;
	font-size: 20px;
	font-weight: bold;
	transition: 500ms ease-in-out;
}

.btn-yt:focus {
	outline: none;
}




#valid-yt-url {
  height: 40px;
  margin-right: 10px;
  float: right;;
}

#yt-url {
  width: 70%;
  height: 40px;
  font-size: 20px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
}